body {
    color: rgb(128, 128, 128);
    background: rgb(255, 255, 255);
    margin: 1px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 5px rgb(0, 0, 0);
    padding: 29px;
    font-size: 32px;
    color: rgb(0, 0, 0);
}

.chamada {
    background: rgb(25, 25, 25);
    padding-bottom: 85px;
    padding-top: 85px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 25px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 55px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 230px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 7px solid rgb(0, 0, 0,);
}

.categoria h2 {
    color: rgb(0, 0, 0);

}















